*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 5px;
}
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(152, 151, 151, 0.5);
}
.library {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 20rem;
  overflow-y: scroll;
  box-shadow: 2px 2px 40px #c7c7c7;
  transform: translateX(-100%);
  opacity: 0;
  background-color: #fff;
  h1 {
    padding: 1rem;
  }
}

.library-song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  transition: 0.2s;
  &:hover {
    background-color: rgba(189, 151, 151, 0.5);
  }
  img {
    width: 30%;
  }

  .song-description {
    padding-left: 2rem;
    h3 {
      font-size: 1rem;
      margin-bottom: 5px;
    }
    h4 {
      font-size: 0.85rem;
    }
  }
}

.selected {
  background-color: rgba(189, 151, 151, 0.5);
}

.active-library {
  transform: translateX(0%);
  opacity: 1;
}

@media screen and(max-width: 768px) {
  .library {
    width: 100%;
  }
}
