nav{
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    button{
        border: 2px solid #bcbcbc;
        background-color: transparent;
        padding: 0.5rem 0.75rem;
        cursor: pointer;
        &:hover{
            background-color: #444444;
            color: #fff;
        }
    }
    h1{
        display: flex;
        justify-content: center;
        align-items: center ;
        img{
            width: 28px
        }
    }
}

@media screen and (max-width: 768px) {
    nav{
        button{
            z-index: 2;
        }
    }
}