* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF Pro Display", sans-serif;
  transition: 0.25s;
}

h2,
h3 {
  color: rgb(54, 54, 54);
}

.library-active {
  margin-left: 20%;
}

@import "./player";
@import "./song";
@import "./library";
@import "./nav";
